DB_KIND=mysql
DB_USERNAME=
DB_PASSWORD=
DB_JDBC_URL=jdbc:mysql://<host>:<port>/<db>
FIREBASE_SERVICE_ACCOUNT_LOCATION=
FIREBASE_STORAGE_BUCKET=
APP_NAME=decision360
APP_VERSION=0.0.1
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_LAST_NAME=
